
<div class="sidebar-wrapper">
    <div class="logo">
        <div class="simple-text">
            <div class="logo-img">
                <img src="/assets/img/fish.png"/>
            </div>
            Stock Manager
        </div>
    </div>
    <ul class="nav responsive-nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
            <a  [routerLink]="[menuItem.path]">
                <i class="{{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
