.card{
    border-radius: 15px;
    box-shadow: 0 1px 2px rgba(0,0,0,.05),0 0 0 1px rgba(63,63,68,.1);
    background-color: #FFFFFF;
    margin-bottom: 30px;
    &:hover .filter{
        opacity:1;
    }
    .btn-hover{
        opacity:0;
    }
    &:hover .btn-hover{
        opacity:1;
    }
    .content{
        padding: 15px 15px 10px 15px;
    }
    .header{
        padding: 15px 15px 0;
    }
    .category,
    label{
        font-size: $font-size-base;
        font-weight: $font-weight-normal;
        color: $dark-gray;
        margin-bottom: 0px;
        
        i{
            font-size: $font-paragraph;
        }
    }
    label{
        font-size: $font-size-small;
        margin-bottom: 5px;
        text-transform: uppercase;
    }

    .title{
        margin: $none;
        color: $black-color;
        font-weight: $font-weight-light;
    }
    .description{
        font-size: $font-size-base;
        color: rgb(17, 17, 17);
    }
    .footer{
        padding: 0;
        background-color: $transparent-bg;
        line-height: 30px;
        
        .legend{
            padding: 5px 0;
        }
        
        hr{
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
    .stats{
        color: #a9a9a9;
    }
    .footer div{
        display: inline-block;
    }
    h6{
        font-size: $font-size-small;
        margin: 0;
    }
    &.card-separator:after{
        height: 100%;
        right: -15px;
        top: 0;
        width: 1px;
        background-color: $medium-gray;
        content: "";
        position: absolute;
    } 
    .ct-chart{
        margin: 30px 0 30px;
        height: 245px;
    }
    
    .table{
        tbody td:first-child,
        thead th:first-child{
            padding-left: 15px;
        }
        
        tbody td:last-child,
        thead th:last-child{
            padding-right: 15px;
        }
    }
}




